{{!-- <h1>Novels <a href="/authors/{{authorId}}/novels/new">Add A New Novel</a></h1>

<div>
    {{#each novels}}
    <div>
        {{this.title}}
        <a href="../authors/{{authorId}}/novels/{{this._id}}">See More</a>
    </div>
    {{/each}}
</div> --}}

<h1>Index for Novels</h1>

{{!-- 
   <h2>Selected Works:</h2> 
    {{#each novels }}
        <p>{{title}} 
            <a href='/authors/{{this._id}}/novels/'>Go to Selected Works</a>
            </p>
    {{/each}} --}}


<div>
    <h2>Selected Works:</h2> 
    {{#each author.novels }}
        <p>{{this.title}}</p>
    {{/each}}

</div>


{{!-- <div>
    {{#each quotes}}
    <div>
        {{this.quote}}
        <a href="/users/{{../userId}}/authors/{{../authorId}}/quotes/{{this._id}}">See More</a>
    </div>
    {{/each}}
</div> --}}

<div><a href='/authors/'>Go Back</a></div>

<div><a href='/'>Home</a></div>

