<h1>Lorem Ipsum <a href="/users/{{userId}}/authors/{{authorId}}/quotes/new">Add A New Quote</a></h1>

<div>
    {{#each quotes}}
    <div>
        {{this.quote}}
        <a href="/users/{{../userId}}/authors/{{../authorId}}/quotes/{{this._id}}">See More</a>
    </div>
    {{/each}}
</div>

