<div class="editPage">
<h1>Edit User</h1>

<form action='/users/{{user._id}}?_method=PUT' method='POST'>
    <div>User: <input type='text' name='username' value='{{user.username}}'></div>
    <div>Age: <input type='text' name='age' value='{{user.age}}'></div>
    <div>Location: <input type='text' name='location' value='{{user.location}}'></div>
    <div>Network: <input type='text' name='network' value='{{user.network}}'></div>
    <div>Favorite Authors: <input type='text' name='authors' value='{{user.authors}}'></div>




    {{!-- <div>Favorite Authors: <input type='text' name='name' value='{{#each authors}} {{name}} {{/each}}'></div> --}}

    <div><input type='submit' value='Update User'></div>
</form>

<div><a href='/users'>Go Back to Users</a></div>
</div>

</div>

{{!-- <div>
    <h2>Favorite Authors:</h2> 
    {{#each authors }}
        <p>{{name}}</p>
    {{/each}}

</div> --}}