<div class="showUser">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
      <div class="container">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/users">Return</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/{{user._id}}/edit">Edit</a>
            </li>
            <li class="nav-item">
                <form class="nav-link" action='/users/{{user._id}}?_method=DELETE' method='POST'>
                    <input type="submit" value="Delete">
                </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h1 class="mt-5">{{user.username}}</h1>
            <div>
                <p>    
                    <div class="left">age:</div> <div class="right">{{user.age}}</div>
                    <br>
                    <div class="left">city:</div> <div class="right">{{user.location}}</div>
                    <br>
                    <div class="left">network:</div> <div class="right">{{user.network}}</div>
                    <br>
                    <div class="left">favorite authors:</div> <div class="right">{{user.authors}}</div> 
                </p>
            </div>
          </div>
        </div>
      </div>
    </section>

</div>
