<div class="showPage">
    <h1>{{user.username}}</h1>
    
    <h2>{{user.age}}</h2>
    <h2>{{user.location}}</h2>
    <h2>{{user.network}}</h2>
    <h2>Favorite Authors</h2>
        <p>{{user.authors}}</p>





{{!-- <div>
    <h2>Favorite Authors:</h2> 
    {{#each authors }}
        <p>{{name}}</p>
    {{/each}}

</div> --}}

<form action='/users/{{user._id}}?_method=DELETE' method='POST'>
    <input type="submit" value="Delete User">
</form>

<div><a href='/users/{{user._id}}/edit'>Edit User</a></div>
<div><a href='/users'>Go Back to Users</a></div>
</div>