

<h1>{{author.name}}</h1>
<div>About: {{author.about}}</div>
{{!-- <div>Selected Works: {{author.novels}}</div> --}}



<div>
    <h2>Selected Works:</h2> 
    {{#each author.novels }}
        <p>{{this.title}} 
            <a href='/authors/{{../author._id}}/novels/{{this._id}}'>Go to Selected Works</a>
            </p>
    {{/each}}

</div>





{{!-- Link below will take you to the index for all novels --}}

{{!-- a href='/authors/{{this._id}}/novels/{{novel._id}}' --}}





{{!-- <div>
    <h2>Favorite Authors:</h2> 
    {{#each authors }}
        <p>{{name}}</p>
    {{/each}}

</div> --}}



<form action='/users/{{userId}}/authors/{{author.id}}?_method=DELETE' method='POST'>
    <input type="submit" value="Delete Author">
</form>

<div><a href='/users/{{userId}}/authors/{{author._id}}/edit'>Edit This Author</a></div>
<div><a href='/authors'>Go Back</a></div>

<div><a href='/'>Home</a></div>

